.header{
    height: 810px;
    background-size: cover;
    background-position: center center;
}


.serve-header{
    height: 288px;
    background-size: cover;
    background-position: center center;
}